In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [21]:
train.head(3)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [22]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [23]:
Y_train = train['SalePrice']

# preprocesamiento de variables independientes
features = ['LotArea', 'MSSubClass', 'OverallCond', 'YearBuilt']
X_train = train[features]

print(Y_train.shape, X_train.shape)

(1460,) (1460, 4)

In [24]:
X_train.head()

   LotArea  MSSubClass  OverallCond  YearBuilt
0     8450          60            5       2003
1     9600          20            8       1976
2    11250          60            5       2001
3     9550          70            5       1915
4    14260          60            5       2000

In [25]:
Y_train.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
linreg = LinearRegression()
linreg.fit(X_train, Y_train)

LinearRegression()

In [28]:
r_sq = linreg.score(X_train, Y_train)
print(f"coefficient of determination: {r_sq}")

coefficient of determination: 0.3588456997247865

In [29]:
# preprocesamiento para test
X_test = test[features]

print(features)
print(test.shape)

['LotArea', 'MSSubClass', 'OverallCond', 'YearBuilt']
(1459, 80)

In [30]:
X_test.head()

   LotArea  MSSubClass  OverallCond  YearBuilt
0    11622          20            6       1961
1    14267          20            6       1958
2    13830          60            5       1997
3     9978          60            6       1998
4     5005         120            5       1992

In [31]:
Y_pred_linreg = linreg.predict(X_test)

In [39]:
# para descargar en ordenador
def download_output(y_pred, name):
  output = pd.DataFrame({'Id': test.Id, 
                         'SalePrice': y_pred})
  output.to_csv(name, index=False)

In [40]:
download_output(Y_pred_linreg, 'Kevin2_pred_linsimple.csv')

In [41]:
import pickle

In [42]:
# exportando modelo como pkl
pickle.dump(linreg, open('linreg.pkl','wb'))